@import "~antd/dist/antd.css";

.App {
  display: flex;
  flex-direction: column;
}

.toggler {
  display: flex;
  align-self: flex-end;
  margin-right: 1rem;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
}